@media screen and (max-width: 992px) {
    img.errorBoundary {
        margin-top: 45px;
        width: 60% !important;
    }
}

@media screen and (min-width: 992px) {
 
    img.errorBoundary {
        width: 25% !important;
    }
}