/* body {
  margin: 1rem;
  padding: 1rem;
} */
/* .App {
  font-family: sans-serif;
  text-align: center;
} */
.draggable {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
  width: calc(100% + 5px);
}
.navTreeMenuBox {
  padding: 15px;
}
.navTreeMenuBox .draggable-category {
  display: flex;
  align-items: flex-start;
  padding:10px;
  border-radius: 5px;
}
.navTreeMenuBox .draggable-category:hover {
  background: #F3FAFF;
}
.navTreeMenuBox .draggable-category:hover .draggable {  
  background: #D7ECFD;
}
.navTreeMenuBox .draggable-category .NavTreeHomeIcon {
  display: flex;
  align-items: center;
  right: 13%;
  position: absolute;
}
.navTreeMenuBox .draggable-category .NavTreeSettingIcon {
  width: 16px;
  height: 16px;
  right: 0;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d2d39;
}
.navTreeMenuBox .draggable-category:hover .NavTreeHomeIcon, .navTreeMenuBox .draggable-category:hover .NavTreeSettingIcon {
  display: flex;
}
h2 {
  margin: 0;
}
.drag-handle {
  border: 2px solid blue;
  background: cornflowerblue;
  padding: 1rem;
  border-radius: 4px;
}
.category-container {
  width: 90%;
}
/* .item {
  border: 2px solid gray;
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  background: lightgray;
} */
