.Platform-x-Button-root.dropdown-btn{
    background-color: white;
    color: black;
    border: none;
    font-family: 'inter';
    font-size: '14px';
    right: '16px';
    
}
.dropdown-btn:hover,
.dropdown-btn:active{
    background-color: white !important;
    color: #4B9EF9
   
  }


