name: ci-cd
on:
  push:
    branches:
    - develop
    - qa 
    - master
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:      
  deploy-authoring-web:
    runs-on: ubuntu-latest
    steps:
      - name: Set env vars (develop)
        if: endsWith(github.ref, '/develop')
        run: |
          echo "CLUSTER_NAME=GKE_CLUSTER_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "IMAGE_NAME=IMAGE_NAME_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "PROJECT_ID=PROJECT_ID_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "SERVICE_ACCOUNT_KEY=GKE_SA_KEY_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "REPO_NAME=${{ github.event.repository.name }}" >> $GITHUB_ENV
          echo "GKE_ZONE=GKE_ZONE_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "DEPLOYMENT_NAME=DEPLOYMENT_NAME_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "NAMESPACE_NAME=NAMESPACE_NAME_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
      - name: Set env vars (master)
        if: endsWith(github.ref, '/master')
        run: |
          echo "CLUSTER_NAME=GKE_CLUSTER_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "IMAGE_NAME=IMAGE_NAME_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "PROJECT_ID=PROJECT_ID_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "SERVICE_ACCOUNT_KEY=GKE_SA_KEY_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "REPO_NAME=${{ github.event.repository.name }}" >> $GITHUB_ENV
          echo "GKE_ZONE=GKE_ZONE_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "DEPLOYMENT_NAME=DEPLOYMENT_NAME_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
      - name: Set env vars (qa)
        if: endsWith(github.ref, '/qa')
        run: |
          echo "CLUSTER_NAME=GKE_CLUSTER_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "IMAGE_NAME=IMAGE_NAME_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "PROJECT_ID=PROJECT_ID_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "SERVICE_ACCOUNT_KEY=GKE_SA_KEY_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "REPO_NAME=${{ github.event.repository.name }}" >> $GITHUB_ENV
          echo "GKE_ZONE=GKE_ZONE_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "DEPLOYMENT_NAME=DEPLOYMENT_NAME_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "NAMESPACE_NAME=NAMESPACE_NAME_$(echo ${{ github.ref_name }} | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v3

      - name: setup-gcloud
        if: contains('refs/heads/develop refs/heads/master', github.ref)
        uses: google-github-actions/setup-gcloud@v0.2.0 
        with:
          service_account_key: ${{ secrets[env.SERVICE_ACCOUNT_KEY] }}
          project_id: ${{ secrets[env.PROJECT_ID] }}

      - name: gke-credentials-dev-qa
        if: contains('refs/heads/develop refs/heads/master', github.ref)
        uses: google-github-actions/get-gke-credentials@v0.2.1
        with:
          cluster_name: ${{ secrets[env.CLUSTER_NAME] }}
          location: ${{ secrets[env.GKE_ZONE] }}
          credentials: ${{ secrets[env.SERVICE_ACCOUNT_KEY] }}

      - name: get-gke-credentials-stg-live
        if: contains('refs/heads/x_site_live refs/heads/x_site_qa refs/heads/stg', github.ref)
        uses: google-github-actions/get-gke-credentials@v0.4.0
        with:
          cluster_name: ${{ secrets[env.CLUSTER_NAME] }}
          location: ${{ secrets[env.GKE_ZONE] }}

      - name: Install Nx CLI
        run: npm install -g @nrwl/nx

      - name: Install Package 
        run: npm install --force

      - name: Build affected libraries and deploy authoring-web
        run: |
          # npx nx affected --target=build --base=main --head=$GITHUB_SHA
          npx nx build authoring-web
          npx nx serve authoring-web --namespace=${{ secrets.NAMESPACE_NAME_DEVELOP }}

  deploy-x-user-experience:
    runs-on: ubuntu-latest
    steps:
      - name: Set env vars (develop)
        if: endsWith(github.ref, '/develop')
        run: |
          echo "CLUSTER_NAME=GKE_CLUSTER_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "IMAGE_NAME=IMAGE_NAME_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "PROJECT_ID=PROJECT_ID_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "SERVICE_ACCOUNT_KEY=GKE_SA_KEY_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "REPO_NAME=${{ github.event.repository.name }}" >> $GITHUB_ENV
          echo "GKE_ZONE=GKE_ZONE_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "DEPLOYMENT_NAME=DEPLOYMENT_NAME_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "NAMESPACE_NAME=NAMESPACE_NAME_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
      - name: Set env vars (master)
        if: endsWith(github.ref, '/master')
        run: |
          echo "CLUSTER_NAME=GKE_CLUSTER_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "IMAGE_NAME=IMAGE_NAME_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "PROJECT_ID=PROJECT_ID_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "SERVICE_ACCOUNT_KEY=GKE_SA_KEY_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "REPO_NAME=${{ github.event.repository.name }}" >> $GITHUB_ENV
          echo "GKE_ZONE=GKE_ZONE_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "DEPLOYMENT_NAME=DEPLOYMENT_NAME_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
      - name: Set env vars (qa)
        if: endsWith(github.ref, '/qa')
        run: |
          echo "CLUSTER_NAME=GKE_CLUSTER_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "IMAGE_NAME=IMAGE_NAME_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "PROJECT_ID=PROJECT_ID_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "SERVICE_ACCOUNT_KEY=GKE_SA_KEY_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "REPO_NAME=${{ github.event.repository.name }}" >> $GITHUB_ENV
          echo "GKE_ZONE=GKE_ZONE_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "DEPLOYMENT_NAME=DEPLOYMENT_NAME_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
          echo "NAMESPACE_NAME=NAMESPACE_NAME_$(echo ${{ github.ref_name }} | tr  '[:lower:]' '[:upper:]')" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v3

      # Setup gcloud CLI
      - name: setup-gcloud
        if: contains('refs/heads/develop refs/heads/master', github.ref)
        uses: google-github-actions/setup-gcloud@v0.2.0 
        with:
          service_account_key: ${{ secrets[env.SERVICE_ACCOUNT_KEY] }}
          project_id: ${{ secrets[env.PROJECT_ID] }}

      # Get the GKE credentials so we can deploy to the cluster
      - name: gke-credentials-dev-qa
        if: contains('refs/heads/develop refs/heads/master', github.ref)
        uses: google-github-actions/get-gke-credentials@v0.2.1
        with:
          cluster_name: ${{ secrets[env.CLUSTER_NAME] }}
          location: ${{ secrets[env.GKE_ZONE] }}
          credentials: ${{ secrets[env.SERVICE_ACCOUNT_KEY] }}

      - name: get-gke-credentials-stg-live
        if: contains('refs/heads/x_site_live refs/heads/x_site_qa refs/heads/stg', github.ref)
        uses: google-github-actions/get-gke-credentials@v0.4.0
        with:
          cluster_name: ${{ secrets[env.CLUSTER_NAME] }}
          location: ${{ secrets[env.GKE_ZONE] }}

      - name: Install Nx CLI
        run: npm install -g @nrwl/nx

      - name: Build affected libraries and deploy authoring-web
        run: |
          nx affected --target=build --base=main --head=$GITHUB_SHA
          nx run authoring-web:deploy --namespace=${{ secrets.NAMESPACE_NAME_DEVELOP }}
